:root {
	--color1: #2196f3;
	--color2: #e91e63;
	--color3: #8bc34a;
	--color4: #ff9800;
	--color5: #fafafa;
	--color6: #212121;
	--rgb-color6: 33, 33, 33;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--color5);
}

html,
body,
#main-container,
.page-container {
	height: 100vh;
}

#page1 {
	background-color: var(--color1);
}

#page2 {
	background-color: var(--color2);
}

#page3 {
	background-color: var(--color3);
}

#page4 {
	background-color: var(--color4);
}

@media only screen and (min-width: 992px) {
	body {
		overflow: hidden;
	}

	#ui {
		position: fixed;
		z-index: 10;
		height: 100vh;
		width: 100vw;
		display: grid;
		pointer-events: none;
		> div {
			display: flex;
			pointer-events: initial;
		}
	}

	#navbar {
		align-self: flex-start;
		justify-self: end;
		margin-right: 12em;
	}

	.nav {
		> a.nav-btn {
			cursor: pointer;
			padding: 1rem 2rem;
			text-decoration: none;
			font-size: 1.2rem;
			transition: all 300ms;
		}
		> a.nav-btn:hover {
			box-shadow: 0 0 0.25rem rgba(var(--rgb-color6), 0.6);
			background-color: var(--color5);
			color: var(--color6);
		}
		> a.nav-btn.nav-btn-active {
			box-shadow: 0 0 0.25rem rgba(var(--rgb-color6), 0.6);
			background-color: var(--color5);
			color: var(--color6);
		}
	}

	.page-container {
		position: absolute;
		width: 100vw;
		box-shadow: 0 0 3rem rgba(var(--rgb-color6), 0.75);
	}

	.slide-from-top {
		transform: translateY(-100vh);
	}

	.slide-from-right {
		transform: translateX(100vw);
	}

	.slide-from-bottom {
		transform: translateY(100vh);
	}

	.slide-from-left {
		transform: translateX(-100vw);
	}

	.slide-active {
		transform: translate(0, 0);
		transition: all 500ms;
	}
}

@media only screen and (max-width: 768px) {
}
