:root {
	--color1: #3f51b5;
	--color2: #ff5722;
	--color3: #4caf50;
	--color4: #e91e63;
	--color5: #fafafa;
	--color6: #212121;
	--rgb-color6: 33, 33, 33;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--color5);
	user-select: none;
	text-decoration: none;
}

html,
body,
#main-container,
.page-container {
	height: 100vh;
}

.h-100 {
	height: 100vh !important;
}

.w-100 {
	width: 100vw;
}

#ui {
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	pointer-events: none;

	.nav-bar-wrapper {
		display: grid;
	}

	.nav {
		display: flex;
		pointer-events: initial;
	}
}

#page1 {
	background: var(--color1);
}

#page2 {
	background: var(--color2);
}

#page3 {
	background: var(--color3);
}

#page4 {
	background: var(--color4);
}

#socials {
	.nav-btn {
		svg {
			width: 2.5em;
			height: 2.5em;
		}
	}
}

#copyright {
	position: fixed;
	align-self: flex-end;
	justify-self: center;
	cursor: default;
}

@media only screen and (min-width: 992px) {
	body {
		overflow: hidden;
	}

	#ui {
		display: grid;
		mix-blend-mode: lighten;
	}

	#navbar {
		align-self: flex-start;
		justify-self: end;
		margin-right: 16rem;
	}

	#bar-icon.nav {
		display: none;
	}

	#socials {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		justify-self: start;
		margin-bottom: 18rem;

		.nav-btn svg {
			fill: inherit;
		}
	}

	#copyright {
		margin-bottom: 3rem;
	}

	.nav {
		.nav-btn {
			cursor: pointer;
			padding: 0.8rem 1.6rem;
			fill: var(--color5);
			transition: all 300ms;
		}

		.nav-btn:hover {
			background: var(--color5);
			color: var(--color6);
			fill: var(--color6);
		}

		.nav-btn.nav-btn-active {
			background: var(--color5);
			color: var(--color6);
		}
	}

	.page-container {
		position: absolute;
		box-shadow: 0 0 3rem rgba(var(--rgb-color6), 0.75);
		width: 100vw;
		padding: 5rem 8rem;
		display: grid;

		* {
			align-self: center;
			justify-self: center;
			font-size: 18em;
		}
	}

	.slide-from-top {
		transform: translateY(-100vh);
	}

	.slide-from-right {
		transform: translateX(100vw);
	}

	.slide-from-bottom {
		transform: translateY(100vh);
	}

	.slide-from-left {
		transform: translateX(-100vw);
	}

	.slide-active {
		transform: translate(0, 0);
		transition: transform 500ms;
	}
}

@media only screen and (max-width: 991px) {
	.h-bar {
		width: 100%;
		height: 0.1rem;
		background: var(--color6);
	}

	#ui {
		display: flex;
		flex-direction: column;
		justify-items: start;
		mix-blend-mode: lighten;

		.nav-bar-wrapper {
			height: 3rem;
			display: inline-block;
			padding: 3rem 3rem 0 3rem;
			overflow: hidden;
			background: var(--color5);
			transition: all 300ms;
			mix-blend-mode: initial;
		}

		#navbar {
			flex-direction: column;
			background: var(--color5);

			.nav-btn {
				padding: 0.4rem;
				color: var(--color6);
			}
		}

		#bar-icon {
			position: absolute;
			z-index: 10;
			justify-self: end;
			align-self: flex-end;
			height: 3rem;
			width: 3rem;
			padding: 0.8rem 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			.h-bar {
				transition: all 300ms;
			}
		}

		.bar-icon-expand {
			#bi1 {
				transform: translateY(0.375rem) rotate(45deg);
			}

			#bi2 {
				opacity: 0;
			}

			#bi3 {
				transform: translateY(-0.375rem) rotate(-45deg);
			}
		}

		#socials {
			margin-top: 3rem;
			flex-direction: row;
			justify-content: center;

			.nav-btn {
				font-size: 2rem;
				padding: 0.4em;

				svg {
					width: 1em;
					height: 1em;
					fill: var(--color6);
				}
			}
		}
	}

	#copyright {
		align-self: center;
		bottom: 0;
		margin-bottom: 1rem;

		p {
			color: var(--color6);
			transition: all 300ms;
		}

		&.show-copyright p {
			mix-blend-mode: initial;
			color: var(--color5);
		}
	}
}
