:root {
	--color1: #3f51b5;
	--color2: #ff5722;
	--color3: #4caf50;
	--color4: #e91e63;
	--color5: #fafafa;
	--color6: #212121;
	--rgb-color6: 33, 33, 33;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--color5);
	user-select: none;
}

html,
body,
#main-container,
.page-container {
	height: 100vh;
}

#page1 {
	background: var(--color1);
}

#page2 {
	background: var(--color2);
}

#page3 {
	background: var(--color3);
}

#page4 {
	background: var(--color4);
}

@media only screen and (min-width: 992px) {
	body {
		overflow: hidden;
	}

	#ui {
		position: fixed;
		z-index: 10;
		height: 100vh;
		width: 100vw;
		display: grid;
		mix-blend-mode: lighten;
		pointer-events: none;
		> div {
			display: flex;
			pointer-events: initial;
		}
	}

	#navbar {
		align-self: flex-start;
		justify-self: end;
		margin-right: 16rem;
	}

	#socials {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		justify-self: start;
		margin-bottom: 18rem;
		> .nav-btn > svg {
			fill: inherit;
		}
	}

	#copyright {
		position: absolute;
		margin-bottom: 3rem;
		align-self: flex-end;
		justify-self: center;
		cursor: default;
	}

	.nav {
		> .nav-btn {
			cursor: pointer;
			padding: 0.8rem 1.6rem;
			text-decoration: none;
			fill: var(--color5);
			transition: all 300ms;
		}
		> .nav-btn:hover {
			background: var(--color5);
			color: var(--color6);
			fill: var(--color6);
		}
		> .nav-btn.nav-btn-active {
			background: var(--color5);
			color: var(--color6);
		}
	}

	.page-container {
		position: absolute;
		box-shadow: 0 0 3rem rgba(var(--rgb-color6), 0.75);
		width: 100vw;
		padding: 5rem 8rem;
		display: grid;
		> * {
			align-self: center;
			justify-self: center;
			font-size: 18em;
		}
	}

	.slide-from-top {
		transform: translateY(-100vh);
	}

	.slide-from-right {
		transform: translateX(100vw);
	}

	.slide-from-bottom {
		transform: translateY(100vh);
	}

	.slide-from-left {
		transform: translateX(-100vw);
	}

	.slide-active {
		transform: translate(0, 0);
		transition: transform 500ms;
	}
}

@media only screen and (max-width: 768px) {
}
